.exitButton {
  display: block;
  width: 100%;
  height: 3.625rem;
  background: var(--text-heading);
  border-radius: 0.5rem;
  color: var(--background);
  line-height: 3.625rem;
  text-align: center;
  margin: 5rem 0;
  font-weight: 600;
}
